<div class="card" style="width: 100%;">
    <div class="card-header">
        <h4>Current Host</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Name: </th>
                <td>@this.ClusterConfig.CurrentHost.Name </td>
            </tr>
            <tr>
                <th>Listening urls (separated by ";"): </th>
                <td>@this.ClusterConfig.CurrentHost.ListeningUrls  </td>
            </tr>
            <tr>
                <th>Local address (IP or hostname + port): </th>
                <td>@this.ClusterConfig.CurrentHost.LocalAddress  </td>
            </tr>
            <tr>
                <th>Public address (IP or hostname + port): </th>
                <td>@this.ClusterConfig.CurrentHost.PublicAddress  </td>
            </tr>
        </table>

        Set new value:
        <select @onchange="@SetHostValue">
            <option hidden></option>
            @foreach (var host in this.ClusterConfig.ClusterDefinition.Hosts)
            {
                <option value=@host.Name>@host.Name</option>
            }
        </select>
        <button class="btn-outline-primary" @onclick="@ChangeHost">Change Host </button>
    </div>
</div>