@page "/clusterconfigeditor"
@using System.Text.Json
@using DG.Core.Extensions
@using DG.Core.Model.ClusterConfig
@using DG.Core.Model.Dto
@using DG.Core.Services
@using DG.HostApp.Extensions
@using DG.HostApp.Routes
@using Microsoft.Extensions.Options
@inject IHttpService httpService
@inject IOptions<DG.Core.Model.ClusterConfig.Host> currentHost

<h1>Cluster configuration manager</h1>
<button class="btn btn-outline-primary" @onclick="SetFormView">Form view</button>
<button class="btn btn-outline-primary" @onclick="SetRawView">Raw view</button>
<button class="btn btn-outline-primary" @onclick="ToggleFileUploadView">Upload JsonConfig</button>
<br />
<br />

@if (fileUploadView == true)
{
    <div class="drag-drop-zone">
        <InputFile OnChange="ViewFile" />
        @status
    </div>
}

@if (clusterConfig == null)
{
    <p><em>Loading configuration...</em></p>
}
else
{
    if (rawView == true)
    {
        <h2>Cluster configuration:</h2>
        <EditForm Model="@rawConfigAsJson" OnValidSubmit="@WriteConfig">
            <InputTextArea style="height: 500px; width: 70%; resize:both;" @bind-Value="rawConfigAsJson" /> <br />
            <button class="btn btn-outline-primary" type="submit">Update config</button>
        </EditForm>
    }
    else
    {
        <h2>Cluster configuration:</h2>
        <p>
            <b>Current Host:</b>
            <b>Name:</b> @clusterConfig.CurrentHost.Name
            <b>HashMd5:</b> @clusterConfig.ClusterDefinition.HashMD5
            <h3>Available applications:</h3>
            @foreach (var application in availableApplications)
                        {
                            <p>
                                <b>Name:</b>@application.Name
                                <b>FullName:</b>@application.FullName
                                <b>Version:</b>@application.Version
                                <b>AssemblyFullName:</b>@application.AssemblyFullName
                            </p>
                        }
        </p>
        <EditForm Model="@clusterConfig" OnValidSubmit="@WriteConfig">
            <h3>Current Host:</h3>
            <b>Listening urls (separated by ;):</b> <InputText @bind-Value="clusterConfig.CurrentHost.ListeningUrls" /><br />
            <b>Local address (IP or hostname + port):</b> <InputText @bind-Value="clusterConfig.CurrentHost.LocalAddress" /><br />
            <b>Public address (IP or hostname + port):</b> <InputText @bind-Value="clusterConfig.CurrentHost.PublicAddress" /><br />
            <h3>Hosts:</h3>
            @foreach (var host in clusterConfig.ClusterDefinition.Hosts)
            {
                <p>
                    <b>Host name:</b> <InputText @bind-Value="host.Name" /><br />
                    <b>Listening urls (separated by ;):</b> <InputText @bind-Value="host.ListeningUrls" /><br />
                    <b>Local address (IP or hostname + port):</b> <InputText @bind-Value="host.LocalAddress" /><br />
                    <b>Public address (IP or hostname + port):</b> <InputText @bind-Value="host.PublicAddress" /><br />
                </p>
            }

            <button class="btn btn-outline-primary" @onclick="AddHost">Add Host</button>
            <br />
            <br />

            <h3>Application types sources:</h3>
            @foreach (var applicationType in clusterConfig.ClusterDefinition.ApplicationTypesSources)
            {
                <p>
                    <b>Name:</b> <InputText @bind-Value="applicationType.Name" /><br />
                    <b>Path:</b> <InputText @bind-Value="applicationType.Path" /><br />
                    <b>Path Type:</b> <InputText @bind-Value="applicationType.PathType" /><br />
                </p>
            }
            
            <h3>Application instances:</h3>
            @foreach (var applicationInstance in clusterConfig.ClusterDefinition.ApplicationInstances)
            {
                <p>
                    <b>Name:</b> <InputText @bind-Value="applicationInstance.Name" /><br />
                    <b>Type:</b> <InputText @bind-Value="@applicationInstance.Type" /><br />
                    <b>Hosting model:</b> <InputText @bind-Value="applicationInstance.HostingModel" /><br />
                    <b>Placement policies:</b><br />

                    @foreach (var placement in applicationInstance.PlacementPolicies)
                    {
                        <span style=" margin-left:40px">
                            <b>=></b>@placement;<br />
                        </span>
                    }

                    <span style=" margin-left:40px">
                        <b>=></b><InputText @bind-Value="newPlacement" />
                        <button class="btn-outline-primary" @onclick="@(e => { applicationInstance.PlacementPolicies.Add(newPlacement); newPlacement = null; })">Add Placement</button> <br />
                    </span>
                    <b>Count:</b> <InputText @bind-Value="applicationInstance.Count" />
                </p>
            }
            <button class="btn btn-outline-primary" @onclick="AddApplicationInstance">Add Application instance</button>
            <br />
            <br />
            <p>
                <button class="btn btn-outline-primary" type="submit">Update config</button>
            </p>
        </EditForm>
    }
}
@code {
    private ClusterConfig clusterConfig;

    private string newPlacement;
    private string rawConfigAsJson = "{}";
    private List<TypeDto> availableApplications = new List<TypeDto>();

    private bool fileUploadView = false;
    private const int MaxFileSize = 1 * 1024 * 1024; // 1MB
    private const string DefaultStatus = "Drop a text file here to view it, or click to choose a file";
    private string fileToBigStatus = $"That's too big. Max size: {MaxFileSize} bytes.";
    private const string LoadingStatus = "Loading...";
    private string status = DefaultStatus;
    
    private bool rawView = false;

    protected override async Task OnInitializedAsync()
    {
        await ReadConfig();
        SetFormView();

        await ScanAvailableApplications();
    }

    async Task ViewFile(IFileListEntry[] files)
    {
        string fileTextContents;

        var file = files.FirstOrDefault();
        if (file == null)
        {
            return;
        }
        else if (file.Size > MaxFileSize)
        {
            status = fileToBigStatus;
        }
        else
        {
            status = LoadingStatus;

            using (var reader = new StreamReader(file.Data))
            {
                fileTextContents = await reader.ReadToEndAsync();
            }

            status = DefaultStatus;
            rawConfigAsJson = fileTextContents;

            rawView = true;
            fileUploadView = false;
        }
    }

    private async Task WriteConfig()
    {
        if (rawView == false)
        {
           rawConfigAsJson = JsonSerializer.Serialize(clusterConfig, new JsonSerializerOptions() { WriteIndented = true });
        }

        await httpService.Post(currentHost.Value.BuildLocalEndpoint<ClusterConfigManagerRoutes>(ClusterConfigManagerRoutes.WriteConfig), rawConfigAsJson);

        this.SyncConfigAcrossNodes();
    }

    private void SyncConfigAcrossNodes()
    {
        Parallel.ForEach(clusterConfig.ClusterDefinition.Hosts, async(host) =>
        {
            if (host.Name.ToLowerInvariant() == currentHost.Value.Name.ToLowerInvariant())
            {
               return;
            }

            try
            {
                await Task.Run(() => this.httpService.Post(
                    host.BuildPublicEndpoint<ClusterConfigManagerRoutes>(ClusterConfigManagerRoutes.WriteClusterDefinition),
                    clusterConfig.ClusterDefinition.ToJson()));
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        });
    }

    private async Task ReadConfig()
    {
        rawConfigAsJson = await httpService.Get(currentHost.Value.BuildLocalEndpoint<ClusterConfigManagerRoutes>(ClusterConfigManagerRoutes.GetConfig));
    }

    private async Task ScanAvailableApplications()
    {
        var availableApplicationsAsJson = await httpService.Get(currentHost.Value.BuildLocalEndpoint<ApplicationScannerControllerRoutes>(ApplicationScannerControllerRoutes.Scan));
        this.availableApplications = JsonSerializer.Deserialize<List<TypeDto>>(availableApplicationsAsJson, new JsonSerializerOptions() {WriteIndented = true, IgnoreNullValues = true});
    }

    private void SetRawView()
    {
        rawConfigAsJson = JsonSerializer.Serialize(clusterConfig, new JsonSerializerOptions() { WriteIndented = true });
        this.rawView = true;
    }

    private void SetFormView()
    {
        this.clusterConfig = JsonSerializer.Deserialize<ClusterConfig>(rawConfigAsJson);
        this.rawView = false;
    }

    private void ToggleFileUploadView()
    {
        this.fileUploadView = !this.fileUploadView;
    }

    private void AddHost()
    {
        clusterConfig.ClusterDefinition.Hosts.Add(
            new Host
            {
                Name = "NewHost",
            });
    }

    private void AddApplicationInstance()
    {
        clusterConfig.ClusterDefinition.ApplicationInstances.Add(
            new ApplicationInstance
            {
                Name = "NewAppication",
                PlacementPolicies = new List<string>() { }
            });
    }
}
